<div class="item-container">
    <div class="top-nav">
        <mat-icon>arrow_back</mat-icon>
        <mat-icon>favorite</mat-icon>
    </div>
    <div class=product-image>
        <img  [src]="imagePath1" alt="Noodles">
    </div>
    
    <div class="details">
        <h4>Noodles</h4>
        
        <h5>Size: 5LTR</h5>
        <h3>KES 500.00</h3>
    </div>
    <div class="descrP">
        <h2>Description</h2>
        <p>Fanta orange Drink is a high quality concentrated crush made with finest ingredients. It adds a perfect zing to your cocktails with a crush. This crush is easy to use just need to add it ....</p>
    </div>
    <div class="carT">
        <button>
            <mat-icon>shopping_cart</mat-icon>
            Add to cart
        </button>
    </div>
</div>
