.item-container{
    background-color:#f6f1ee;;
}
.top-nav{
    mat-icon{
        font-size: 1.8em;
        padding: 25px 15px; 
    }
}


.product-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    img{
        width:200px;
        height: 200px;
    }
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
        background-color: white;
        color: #010F8C;
        font-weight: 600;
    }
    h4{
        font-size: 1.2em;
    }
}

.descrP{
    
    padding: 25px;
    h2{
        font-weight: 500;
    }
    p{
        color: black;
    }
}
.carT{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 1px;
    button{
        display: flex;
        align-items: center;
        border-radius: 10px;
        background-color: #010F8C;
        border: none;
        color: white;
        padding: 15px 30px;
        mat-icon{
            padding-right: 5px;
        }
    }
}