.admain{
    display: block;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px; 
    background-color: lightsalmon;
    border-radius: 15px;
    width: 100%;
    height: 15vh;
    .adImage{
        width: 50%;
        border-radius: 10px;
        img {
            width: 100%; /* Make the images fill the entire card */
            height: 100%;
        }
        
    }
    .adDescription{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            color: white;
            font-size: small;
        }
    }
    .close{
        padding: 5px;
        mat-icon{
           font-size: medium;
           color:gray;
            
        }
        
    }
}
.second{
    display: none;
   
}

