<div>
    <mat-grid-list cols="3" rowHeight="30px">
        <mat-grid-tile>
            <a [routerLink]="['/mobile']">
                <mat-icon>home</mat-icon>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a [routerLink]="['/mobile/cart']">
                <mat-icon>shopping_cart</mat-icon>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a [routerLink]="['/mobile/favorites']">
                <mat-icon>favorite</mat-icon>
            </a>
        </mat-grid-tile>
    </mat-grid-list>
</div>





  