.Title{
    display: flex;
    flex-direction: row;
    padding: 20px;


    mat-icon{
        color: #303F9F;
        font-size: 1.8em;
    }

    h2{
        color: #303F9F;
        margin: auto;
    }
}
.cart-container{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
}
.cart-item{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 20px;
    .cart-card{
        background-color: white;
        box-shadow: none;
        color: black;
        height: 100px;
        display: flex;
        flex-direction: row;
        img{
            height: 80px;
            width: 80px;
        }
    }
}
.promo{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    form{
        
        input{
            background-color: white;
            padding: 15px 20px;
            border-radius: 10px;
            border: 1px solid #303F9F;
        }
    }
    button{
        
        border: none;
        border-radius: 5px;
        padding: 15px;
        background-color: #303F9F;
        color: white;
    }
}
.pricing{
    margin-top: 15px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    .sub-price{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        p{
            color: black;
        }
        h4{
            color: #303F9F;
        }

    }
}

.checkout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:  #303F9F;
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    .price-checkout{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        padding: 5px;
    }
    .btn-checkout{
        margin: auto;
        button{
            background-color: white;
            padding: 10px;
            color: #303F9F;
            border-radius: 10px;
            border: none;
        }

    }

   
}