.Title{
    display: flex;
    padding: 10px;

    mat-icon{
        flex: 1;
        justify-content: flex-start;
    }

    h2{
        flex: 1;
        justify-content: center;
    
    }
}
.cart-container{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
}
.cart-item{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 20px;
    .cart-card{
        background-color: white;
        box-shadow: none;
        color: black;
        height: 100px;
        display: flex;
        flex-direction: row;
        img{
            height: 80px;
            width: 80px;
        }
    }
}
.promo{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    form{
        
        input{
            background-color: white;
            padding: 15px 20px;
            border-radius: 10px;
            border: 1px solid #010F8C;
        }
    }
    button{
        
        border: none;
        border-radius: 5px;
        padding: 15px;
        background-color: #010F8C;
        color: white;
    }
}
.pricing{
    margin-top: 15px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    .sub-price{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
        p{
            color: white;
        }
        span{
            color: #010F8C;
        }

    }
}

.checkout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #010F8C;
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    .price-checkout{
        display: flex;
        flex-direction: column;
        color: white;
    }
    button{
        background-color: white;
        padding: 10px;
        color: #010F8C;
        border-radius: 10px;
        border: none;
    }
}