<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>
        <div class="imageContainer">
          <img mat-card-image [src]="imagePath5">
        </div>
      </mat-toolbar>
      
      <mat-nav-list class="nav-list">
        <a id="anchor" mat-list-item href="#"> <mat-icon>restore</mat-icon>Orders</a>
        <a id="anchor" mat-list-item href="/mobile/terms"><mat-icon>receipt</mat-icon>Terms & Conditions</a>
        <a id="anchor" mat-list-item href="/about"><mat-icon>help_outline</mat-icon>About Us</a>
        
      </mat-nav-list>
      
      <div class="otm">
        <span id="prod">Powered By</span>
        <img mat-card-image [src]="imagePath6">
      </div>
      
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar  class="topNav" style="background-color: #f6f1ee;">
            <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            
            <div class="company"><img mat-card-image [src]="imagePath8"></div>
              
            
        </mat-toolbar>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
       
        <div class="footer">
          <app-mainfooter></app-mainfooter>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
