.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;

  }
 
  
  .sidenav .mat-toolbar {
    padding: 30px;
    height: 50px;
    
    background: inherit;
    border: 1px solid #f6f1ee;
   
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
 
  .company {
    height: 180px; 
  }
  img{
    height: 100%;
    width: 100%;
  }
  .mat-sidenav-content {
    background-color: #f6f1ee;   
    position: relative;
    height: 100vh;
  }

  .content{
    overflow-y: auto; /* enable scrolling for content */
    height: 81vh;
  }
  .footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .otm{
    padding-top: 200px;
    margin: auto;
    height: 80px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #prod{
    font-style: italic;
    color: blue;
    padding: 10px;
  }
  .nav-list{
    background-color: aquamarine;
    mat-icon{
      margin-right: 5px;
    }
  }