.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
   
    

  }
 
  
  .sidenav .mat-toolbar {
    padding: 20px;
    height: 50px;
    margin-top: 20px;
 
   
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
   
    
  }
  .topNav{
    display: flex;
    align-items: center;
    padding: 20px;
    
  }
 
  .company {
    margin: 0 auto; 
    height: 70px;
    width: 40%;
  }
  img{
    height: 100%;
    width: 100%;
  }
  .mat-sidenav-content {
    background-color: #f6f1ee;   
    // background-color: #e2e5e7;  
    position: relative;
    height: 100vh;
  }

  .content{
    overflow-y: auto; /* enable scrolling for content */
    height: 81vh;
  }
  .footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .otm{
    padding-top: 400px;
    margin: auto;
    height: 80px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #prod{
    font-style: italic;
    color: #4074ba;
    padding: 10px;
  }
  .nav-list{
    
    #anchor{
     
      color: #575a5e;
      margin-bottom: 20px;
    }
    
    mat-icon{
     
      margin-right: 10px;
      color: #575a5e; 
      
    }
  }