.myContent{
    padding: 10px;
}


.cat-main{
    margin-bottom: 50px;
}

.footer{
    margin-top: 15px;
    
}
.buy{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: black;
        border: none;
        color: white;
        padding: 10px 25px;
    }
}