.conta{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  padding: 16px;
  background-color: white;
  box-shadow: 2px 2px rgb(185, 179, 179);
  
}


.cat-card{
  display: flex;
  flex-direction: column;
  box-shadow: none;
  align-items: center;
  width: 100%; /* make sure cards take up full width of their grid cell */
  height: 300px;
}
img{
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}
mat-card-actions{
  border: 1px solid #010F8C;
  border-radius: 5px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10px;
    span{
    cursor: pointer;
    font-size: 1.5em;
    padding: 5px;
    

  }
}
  
