mat-grid-tile {
    color: black;
    background-color: white;
    border: none;
   
    .cat-card{
      background-color: white;
      box-shadow: none;
      padding: 20px;
      height: 280px;
    }
    img{
      
      height: 100px;
      width: 100px;
      margin-bottom: 10px;
  }
  mat-card-actions{
    border: 1px solid #010F8C;
    border-radius: 35px;
    padding: 1px 10px;
    margin: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    span{
      cursor: pointer;
      font-size: 1.5em;
      padding: 3px;

    }
  }
}

  
