<div class="conta">
    <div *ngFor="let product of products ;let i = index">
        <mat-card class="cat-card">
            <img mat-card-image [src]="imagePath2" alt="Noodles">
            <mat-card-content>
                <mat-card-title>{{product.name}}</mat-card-title>
                <p>{{product.size}}</p>
                <p>{{product.price}}</p>
              </mat-card-content>
              <mat-card-actions align="start">
                <span (click)="decrement(i)">-</span>
                <span>{{product.ordered_items}}</span>
                <span  (click)="increment(i)">+</span>
              </mat-card-actions>
          </mat-card>
    </div>
</div>

















