<mat-grid-list cols="2" rowHeight="280px">

    <mat-grid-tile>
        <mat-card class="cat-card">
            <img mat-card-image [src]="imagePath1" alt="Noodles">
            <mat-card-content>
                <mat-card-title>Rhapso</mat-card-title>
                <p>Size: 5LTR</p>
                <p> Ksh 500.00</p>
              </mat-card-content>
              <mat-card-actions align="start">
                <span (click)="decrement()">-</span>
                <span>{{counter}}</span>
                <span  (click)="increment()">+</span>
              </mat-card-actions>
          </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="cat-card">
            <img mat-card-image [src]="imagePath2" alt="postman">
            <mat-card-content>
                <mat-card-title>Postman</mat-card-title>
                <p>Size: 5LTR</p>
                <p> Ksh 520.00 </p>
              </mat-card-content>
              <mat-card-actions align="start">
                <span (click)="decrement()">-</span>
                <span>{{counter}}</span>
                <span  (click)="increment()">+</span>
              </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    
  </mat-grid-list>

















<!-- <div class="prod-container">

    <div class="prod-card">
        <div class="prod-image">
            <img mat-card-image [src]="imagePath1">
        </div>
        <div class="prod-name">
            <p>Name</p>
        </div>
        <div class="prod-desc">
            <p>Size : 2LTR</p>
        </div>
        <div class="prod-price">
            <p>Price</p>
        </div>
        <div class="prod-cart">
            <span>-</span>
            <span>1</span>
            <span>+</span>
        </div>
    </div>

    <div class="prod-card">
        <div class="prod-image">
            <img mat-card-image [src]="imagePath2">
        </div>
        <div class="prod-name">
            <p>Name</p>
        </div>
        <div class="prod-desc">
            <p>Size : 2LTR</p>
        </div>
        <div class="prod-price">
            <p>Price</p>
        </div>
        <div class="prod-cart">
            <span (click)="decrement()">-</span>
            <span>{{counter}}</span>
            <span  (click)="increment()">+</span>
        </div>
    </div>
</div> -->