.succes{
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    img{
        height: 280px;
        width: 100%;
    }
    .details{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
       
        h2{
            font-weight: lighter;
        }
        p{
            font-weight: 800;
        }
    }
    .new-order{
        flex: end;
        width: 60%;
        margin:  auto;
        button{
            background-color: #303F9F;
            border: none;
            color: white;
            padding: 10px 25px;
            border-radius: 5px;
            font-size: 1.4em;
        }
    }
}