.Cat-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
    .cat-card{
        background-color: #fafafa ;
        border: none;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        box-shadow: none;
        &:hover{
            p{
                color: #303f9f;
            }

            img{
                border:  2px solid #303f9f;
            }
        }

        img{
            background-color : white;
            height: 80px;
            width: 80px;
            margin-bottom: 10px;
        }
       
        // .first-image {
        //     border: 3px solid red;
        //     background-image: url('../../../assets/images/oils.png');
        //     background-size: cover;
        // }
        // .second-image {
        //     background-image: url('../../../assets/images/noodles.png');
        //     background-size: cover;
        // }
        // .third-image {
        //     background-image: url('../../../assets/images/toss.png');
        //     background-size: cover;
        // }
        

    }
    

    
}


































// mat-card {
//     width: 150px; /* Set the width of the cards */
//     height: 150px; /* Set the height of the cards */
//     background-color: white;
// }

// img {
//     width: 100%; /* Make the images fill the entire card */
//     height: 100%;
// }

// mat-grid-list {
//     margin: 10px; /* Add some margin around the grid */
// }
// .selectedCard {
//     border: 1px solid #010F8C;
// }
