
<div class="Cat-container">

  <mat-card class="cat-card">
    <!-- <div mat-card-avatar class="first-image"></div> -->
    <img mat-card-image [src]="imagePath1" alt="Noodles">
    <mat-card-footer>
      <p>Noodles</p>
    </mat-card-footer>
  </mat-card>

  <mat-card class="cat-card">
    <img mat-card-image [src]="imagePath2" alt="Cooking Oils">
    <mat-card-footer>
      <p>Cooking Oils</p>
    </mat-card-footer>
  </mat-card>
 

  <mat-card class="cat-card">
    <img mat-card-image [src]="imagePath3" alt="Home care">
    <mat-card-footer>
      <p>Home care</p>
    </mat-card-footer>
  </mat-card>

  <mat-card class="cat-card">
    <img mat-card-image [src]="imagePath3" alt="Home care">
    <mat-card-footer>
      <p>Home care</p>
    </mat-card-footer>
  </mat-card>


</div>







  