.Cat-container{
    display: flex; /* use flexbox to enable horizontal scrolling */
    justify-content: space-between;
    overflow-x: auto; /* enable horizontal scrolling */
    padding: 16px; /* add padding to container */
   

    .cat-card{
        background-color: #f6f1ee ;
        border: none;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        box-shadow: none;
        margin-right: 16px; /* add margin between cards */
        flex: 0 0 calc(33.33% - 8px); /* set card width to 33.33% minus margin */
        &:hover{
            p{
                color: #303f9f;
            }

            img{
                border:  2px solid #303f9f;
            }
        }

        img{
            background-color : white;
            height: 80px;
            width: 80px;
            margin-bottom: 10px;
        }
    }
    

    
}


































// mat-card {
//     width: 150px; /* Set the width of the cards */
//     height: 150px; /* Set the height of the cards */
//     background-color: white;
// }

// img {
//     width: 100%; /* Make the images fill the entire card */
//     height: 100%;
// }

// mat-grid-list {
//     margin: 10px; /* Add some margin around the grid */
// }
// .selectedCard {
//     border: 1px solid #010F8C;
// }
